.celFiche{
   text-align: center;
   color:black;
   
   font-size: 1em;
}

.celFicheColor{
   background-color: #DCE6EA; 
}

.titleFiche{
   color:black;
   
   font-size: 0.7em;
}

.titleFicheColor {
   background-color: #DCE6EA;
}

.footCelColor {
   color : white;
   background-color: #1C375D;
}

.footSpaceValue{
	height:1em
}

#paye_net {
   font-weight:bold;
}

h3,h4,h5{
   padding-left: 0.8em;
   padding-right: 0.8em;
   font-size: 1.3em;
	text-align: center;
}

.footCelText {
	text-align: center;
}

.footPaieValue{
	border:solid 0.1em #1C375D
}


th.headCel {
   color : white;
   font-size: 0.8em;
   background-color: #1C375D;
   width: 30%;
}
th.headTitle {
   width: 40%;
}


@media only screen and (min-width: 1200px) {
   .celFiche{
      font-size: 1.1em;
   }

   th.headCel {
      font-size: 0.9em;
   }

   .titleFiche{
      font-size: 0.8em;
   }

   h3,h4,h5{
      padding-left: 0.9em;
      padding-right: 0.9em;
      font-size: 1.4em;
      text-align: center;
   }
   
}

