table {
    border-collapse: separate;
}

td {
    padding-top: .25em;
    padding-bottom: .25em;
}

input {
	text-align: center;
}

.titleForm{
   text-align: center;
   color:black;
   font-family: Arial;
   font-size: 1.04em;
   font-weight:bold;
}

td.formName {
	text-align: right;
   width: 30%;
}
td.formValue {
   width: 70%;
}



select.autosize{
    font-size: 0.9em;
	 max-width: 320px;
    width: 100% !important;
    text-overflow: ellipsis;
    white-space: nowrap;
  	 overflow: hidden;
}

